.wrapper-cart-empty {
  padding: 32px 0 80px;
  @include Responsive(SM){
    padding: 32px 0 110px;
  }
  .box-empty-text {
    display: flex;
    justify-content: center;
    .col-md-6{
      padding: 0 31px !important;
    }
    .img-chicken-empty {
      display: flex;
      justify-content: center;
      width: 200px;
      margin: auto;
    }
    .box-cart-content{
      text-align: center;
      margin-top: 24px;
      @include Responsive(SM){
        margin-top: 32px;
      }
      h3{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.005em;
      }
      p{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.004em;
      }
      .btn{
        width: unset;
        border-color: unset;
        background-color: #FF7D01;
        padding: 12px 34px !important;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.005em;
        margin-top: 8px;
        @include Responsive(SM){
          margin-top: 16px;
        }
      }
    }
  }
}
