@import "./variable.scss";

// img,
// iframe {
//     max-width: 100%;
// }

a:hover {
  text-decoration: none;
}

.show-desktop {
  display: block;
  @include Responsive(SM) {
    display: none;
  }
}

.show-mobile {
  display: none;
  @include Responsive(SM) {
    display: block;
  }
}

.text-grey {
  color: $color_grey;
}

.text-grey-2 {
  color: $color_grey_2;
}

.text-grey-light {
  color: $color_grey_light;
}

.bg-orange-lightest {
  background-color: $color_orange_lightest !important;
}

.bg-orange {
  background-color: $color_orange !important;
}

.border-orange {
  border: $color_orange 1px solid !important;
}

.text-organe {
  color: $color_orange;
}

.text-darker-red {
  color: $color_red_darkest;
}

.bg-pink-lightest {
  background-color: $color-pink-lightest;
}

.input-group-append {
  .btn-pluss {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}

.input-group-prepend {
  .btn-minus {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
  }
}

.rounded-50 {
  border-radius: 50px;
}

.font-600-16 {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.font-400-16 {
  font-weight: 400 !important;
  font-size: 16px !important;
}

.fw-normal {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: 800 !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.desktop {
  @include Responsive(SM) {
    display: none !important;
  }
}
.mobile {
  display: none !important;
  @include Responsive(SM) {
    display: block !important;
  }
}

.navbar {
  @include Responsive(SM) {
    padding: 0 3.5px !important;
  }
  .navbar-brand {
    img {
      @include Responsive(SM) {
        margin: 0 auto;
      }
      @include Responsive(MD) {
        width: 100% !important;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-link {
        @include Responsive(MD) {
          padding: 5px;
          font-size: 14;
        }
      }
    }
  }
  .nav {
    @include Responsive(SM) {
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .nav-item {
      @include Responsive(SM) {
        margin: 0 auto;
      }
      .nav-link {
        @include Responsive(SM) {
          padding: 5px !important;
        }
        @include Responsive(MD) {
          padding: 5px;
        }
      }
      &.mobile {
        @include Responsive(SM) {
          display: flex;
          align-items: center;
        }
      }
      .link-home {
        @include Responsive(SM) {
          width: auto;
          height: auto;
          padding: 0;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.footer {
  @include Responsive(SM) {
    padding-top: 24px !important;
  }
  .wrapper-social {
    @include Responsive(SM) {
      border-bottom: none;
    }
    .footer-search {
      @include Responsive(SM) {
        width: 100%;
      }
      .input-group-armchair {
        @include Responsive(SM) {
          flex-wrap: unset;
        }
        .form-control {
          @include Responsive(LG) {
            width: 300px;
          }
          @include Responsive(SM) {
            width: auto !important;
          }
        }
      }
    }
    .connect-to-domino {
      @include Responsive(SM) {
        display: none;
      }
    }
  }
  .footer-main {
    .box-hotline {
      .alias-menu-link {
        @include Responsive(SM) {
          display: none;
        }
      }
      .domino-hotline {
        .footer-icon {
          @include Responsive(SM) {
            display: none;
          }
        }
        .hotline-wrapper {
          @include Responsive(SM) {
            border-left: none !important;
            margin: 0 auto;
          }
          p {
            @include Responsive(SM) {
              color: white;
              font-size: 12 !important;
              font-weight: 600;
            }
            img {
              @include Responsive(SM) {
                display: none !important;
              }
            }
          }
          a {
            @include Responsive(SM) {
              font-size: 38;
              font-weight: 700;
            }
          }
        }
      }
    }
    .credentials {
      @include Responsive(SM) {
        display: none;
      }
    }
  }
  .box-switch {
    @include Responsive(SM) {
      display: none;
    }
  }
  .footer-end {
    .box-brand {
      @include Responsive(SM) {
        display: none;
      }
    }
    .box-brand-mobile {
      @include Responsive(SM) {
        display: block;
        font-size: 10;
        font-weight: 600;
        color: white;
      }
      .domino-cc {
        @include Responsive(SM) {
          display: flex;
          justify-content: center;
        }
        .domino-footer {
          @include Responsive(SM) {
            display: flex;
            align-items: center;
            border-right: 1px solid white;
            padding-right: 16px;
            font-size: 10px;
          }
        }
        .flag-mobile {
          @include Responsive(SM) {
            padding-left: 8px;
          }
          a {
            @include Responsive(SM) {
              padding-left: 8px;
            }
            img {
              @include Responsive(SM) {
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
}
